<div class="center p-24 pb-56 pr-sm-92">
    <h2 class="start">Preset Profile</h2>
    <form [formGroup]="presetForm" class="w-50-p mx-16">
        <div fxLayout="row" fxLayoutAlign="start start">
            <mat-form-field appearance="outline" fxFlex class="w-50-p">
                <mat-label>Preset Name</mat-label>
                <input name="presetName" formControlName="presetName" [value]="presetName" matInput required>
            </mat-form-field>
        </div> 

        <button mat-raised-button type="button" color="primary" (click)="SubmitPreset()" matStepperNext>Submit</button>
    </form>
</div>