<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <!-- <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <img [src]="paddock.avatar" class="avatar paddock-avatar huge m-0"
                 [alt]="paddock.name"/>
            <div class="paddock-name mt-8">{{paddock.name}} </div>
        </mat-toolbar-row> -->
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="paddockForm">
            <input class="hidden" formControlName="Id">
            <input class="hidden" formControlName="SprayPropertySettingsId">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Paddock Identifier</mat-label>
                    <input name="name" formControlName="name" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Area</mat-label>
                    <input name="area" formControlName="area" matInput required>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Unit</mat-label>
                    <mat-select formControlName="parameter" required>
                        <mat-option value="ac">ac</mat-option>
                        <mat-option value="ha">ha</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- 

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Nickname</mat-label>
                    <mat-icon matSuffix class="secondary-text">star</mat-icon>
                    <input name="nickname" formControlName="nickname" matInput>
                </mat-form-field>
            </div> -->

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'" mat-button class="mr-8" (click)="matDialogRef.close(['delete',paddockForm])"
            aria-label="Delete" matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'" mat-button class="save-button" (click)="matDialogRef.close(paddockForm)"
            [disabled]="paddockForm.invalid" aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'" mat-button class="save-button"
            (click)="matDialogRef.close(['save',paddockForm])" [disabled]="paddockForm.invalid" aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>