<mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">
  <!-- Checkbox Column -->
  <!-- <ng-container matColumnDef="checkbox">
<mat-header-cell *matHeaderCellDef></mat-header-cell>
<mat-cell *matCellDef="let paddock">
 <mat-checkbox [(ngModel)]="checkboxes[paddock.id]" (ngModelChange)="onSelectedChange(paddock.id)"
               (click)="$event.stopPropagation()">
 </mat-checkbox>
</mat-cell>
</ng-container> -->

  <!-- Avatar Column -->
  <!-- <ng-container matColumnDef="avatar">
<mat-header-cell *matHeaderCellDef></mat-header-cell>
<mat-cell *matCellDef="let paddock">
 <img class="avatar" *ngIf="paddock.avatar" [alt]="paddock.name"
      [src]="paddock.avatar"/>
</mat-cell>
</ng-container> -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>Paddock Identifier</mat-header-cell>
    <mat-cell *matCellDef="let paddock">
      <p class="text-truncate font-weight-600">{{paddock.name}}</p>
    </mat-cell>
  </ng-container>

  <!-- Area Column -->
  <ng-container matColumnDef="area">
    <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Area</mat-header-cell>
    <mat-cell *matCellDef="let paddock" fxHide fxShow.gt-sm>
      <p class="area text-truncate">
        {{paddock.area}} {{paddock.parameter}}
      </p>
    </mat-cell>
  </ng-container>
  <!-- button Column -->
  <ng-container matColumnDef="button">
    <mat-header-cell *matHeaderCellDef fxShow.gt-sm></mat-header-cell>
    <mat-cell *matCellDef="let paddock"  fxShow.gt-sm>
      <button mat-icon-button style="margin-left: 90%;" (click)="editPaddock(paddock)">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let paddock; columns: displayedColumns;" class="paddock" 
    [ngClass]="{'accent-50':checkboxes[paddock.id]}"  [@animate]="{value:'*',params:{y:'100%'}}">
  </mat-row>
</mat-table>